[submodule "Plugins/CkFoundation"]
	path = Plugins/CkFoundation
	url = https://github.com/chainkemists/CkFoundation.git
[submodule "Plugins/CkGameplayDebugger"]
	path = Plugins/CkGameplayDebugger
	url = https://github.com/chainkemists/CkGameplayDebugger.git
[submodule "Plugins/CkTests"]
	path = Plugins/CkTests
	url = https://github.com/chainkemists/CkTests.git
[submodule "Plugins/AutoSizeComments"]
	path = Plugins/AutoSizeComments
	url = https://github.com/chainkemists/AutoSizeComments.git
[submodule "Plugins/BlueprintAssist"]
	path = Plugins/BlueprintAssist
	url = https://github.com/chainkemists/BlueprintAssist.git
[submodule "Plugins/EasyAssetCreator"]
	path = Plugins/EasyAssetCreator
	url = https://github.com/chainkemists/EasyAssetCreator.git
[submodule "Plugins/GitSourceControl"]
	path = Plugins/GitSourceControl
	url = https://github.com/chainkemists/UEGitPlugin.git
[submodule "Plugins/NodeGraphAssistant"]
	path = Plugins/NodeGraphAssistant
	url = https://github.com/chainkemists/NodeGraphAssistant.git
[submodule "Plugins/CkApplication"]
	path = Plugins/CkApplication
	url = https://github.com/chainkemists/CkApplication.git
[submodule "Plugins/WorldSpaceWidgets"]
	path = Plugins/WorldSpaceWidgets
	url = https://github.com/chainkemists/WorldSpaceWidgets.git
[submodule "CkAuto"]
	path = CkAuto
	url = https://github.com/chainkemists/CkAuto.git
[submodule "Plugins/ZenMode"]
	path = Plugins/ZenMode
	url = https://github.com/chainkemists/ZenMode.git
[submodule "Plugins/Skelot"]
	path = Plugins/Skelot
	url = https://github.com/chainkemists/Skelot.git
[submodule "Plugins/Ant"]
	path = Plugins/Ant
	url = https://github.com/chainkemists/ant.git
[submodule "Plugins/SpatialQuerySystem"]
	path = Plugins/SpatialQuerySystem
	url = https://github.com/chainkemists/SpatialQuerySystem.git
[submodule "Plugins/Projectile-Physics-Plugin"]
	path = Plugins/Projectile-Physics-Plugin
	url = https://github.com/chainkemists/Projectile-Physics-Plugin
[submodule "Plugins/LogViewerPro"]
	path = Plugins/LogViewerPro
	url = https://github.com/chainkemists/LogViewerPro.git
[submodule "Plugins/EOSIntegrationKit"]
	path = Plugins/EOSIntegrationKit
	url = https://github.com/chainkemists/EOSIntegrationKit.git
[submodule "Plugins/AutoSettings"]
	path = Plugins/AutoSettings
	url = https://github.com/chainkemists/auto-settings.git
[submodule "Plugins/Prismatiscape-Interaction-Plugin"]
	path = Plugins/Prismatiscape-Interaction-Plugin
	url = https://github.com/chainkemists/Prismatiscape-Interaction-Plugin.git
[submodule "Plugins/ProInstanceTools"]
	path = Plugins/ProInstanceTools
	url = https://github.com/chainkemists/ProInstanceTools.git
[submodule "Plugins/PhysicalLayoutTool"]
	path = Plugins/PhysicalLayoutTool
	url = https://github.com/chainkemists/PhysicalLayoutTool.git
[submodule "Plugins/CableTie"]
	path = Plugins/CableTie
	url = https://github.com/chainkemists/CableTie.git
[submodule "Plugins/AdvancedCommenting"]
	path = Plugins/AdvancedCommenting
	url = https://github.com/chainkemists/AdvancedCommenting.git
[submodule "Plugins/VerticalTabs"]
	path = Plugins/VerticalTabs
	url = https://github.com/chainkemists/VerticalTabs.git
