[submodule "Plugins/CkFoundation"]
	path = Plugins/CkFoundation
	url = https://github.com/chainkemists/CkFoundation.git
[submodule "Plugins/CkGameplayDebugger"]
	path = Plugins/CkGameplayDebugger
	url = https://github.com/chainkemists/CkGameplayDebugger.git
[submodule "Plugins/CkTests"]
	path = Plugins/CkTests
	url = https://github.com/chainkemists/CkTests.git
[submodule "Plugins/AssetHistoryTracker"]
	path = Plugins/AssetHistoryTracker
	url = https://github.com/chainkemists/AssetHistoryTracker.git
[submodule "Plugins/AutoSizeComments"]
	path = Plugins/AutoSizeComments
	url = https://github.com/chainkemists/AutoSizeComments.git
[submodule "Plugins/BlueprintAssist"]
	path = Plugins/BlueprintAssist
	url = https://github.com/chainkemists/BlueprintAssist.git
