[submodule "Plugins/CkFoundation"]
	path = Plugins/CkFoundation
	url = https://github.com/chainkemists/CkFoundation.git
[submodule "Plugins/CkGameplayDebugger"]
	path = Plugins/CkGameplayDebugger
	url = https://github.com/chainkemists/CkGameplayDebugger.git
[submodule "Plugins/CkTests"]
	path = Plugins/CkTests
	url = https://github.com/chainkemists/CkTests.git
[submodule "Plugins/AssetHistoryTracker"]
	path = Plugins/AssetHistoryTracker
	url = https://github.com/chainkemists/AssetHistoryTracker.git
[submodule "Plugins/AutoSizeComments"]
	path = Plugins/AutoSizeComments
	url = https://github.com/chainkemists/AutoSizeComments.git
[submodule "Plugins/BlueprintAssist"]
	path = Plugins/BlueprintAssist
	url = https://github.com/chainkemists/BlueprintAssist.git
[submodule "Plugins/BlueprintGraphScreenshot"]
	path = Plugins/BlueprintGraphScreenshot
	url = https://github.com/chainkemists/BlueprintGraphScreenshot.git
[submodule "Plugins/BlueprintNodeTemp"]
	path = Plugins/BlueprintNodeTemp
	url = https://github.com/chainkemists/BlueprintNodeTemplate.git
[submodule "Plugins/EasyAssetCreator"]
	path = Plugins/EasyAssetCreator
	url = https://github.com/chainkemists/EasyAssetCreator.git
[submodule "Plugins/GitSourceControl"]
	path = Plugins/GitSourceControl
	url = https://github.com/chainkemists/UEGitPlugin.git
[submodule "Plugins/MDMetaDataEditor"]
	path = Plugins/MDMetaDataEditor
	url = https://github.com/chainkemists/MDMetaDataEditor.git
[submodule "Plugins/NodeGraphAssistant"]
	path = Plugins/NodeGraphAssistant
	url = https://github.com/chainkemists/NodeGraphAssistant.git
[submodule "Plugins/CkApplication"]
	path = Plugins/CkApplication
	url = https://github.com/chainkemists/CkApplication.git
[submodule "Plugins/WorldSpaceWidgets"]
	path = Plugins/WorldSpaceWidgets
	url = https://github.com/chainkemists/WorldSpaceWidgets.git
[submodule "Plugins/NumberRenderer"]
	path = Plugins/NumberRenderer
	url = https://github.com/chainkemists/NumberRenderer.git
[submodule "CkAuto"]
	path = CkAuto
	url = https://github.com/chainkemists/CkAuto.git
[submodule "Plugins/ZomgEditorAddons"]
	path = Plugins/ZomgEditorAddons
	url = https://sulfur-ck@github.com/chainkemists/ZomgEditorAddons.git
[submodule "Plugins/ZenMode"]
	path = Plugins/ZenMode
	url = https://sulfur-ck@github.com/chainkemists/ZenMode.git
[submodule "Plugins/DebugFunctionLibrary"]
	path = Plugins/DebugFunctionLibrary
	url = https://sulfur-ck@github.com/chainkemists/DebugFunctionLibrary.git
[submodule "Plugins/BlueprintConsoleCommands"]
	path = Plugins/BlueprintConsoleCommands
	url = https://sulfur-ck@github.com/chainkemists/BlueprintConsoleCommands.git
[submodule "Plugins/MapFunctionLibrary"]
	path = Plugins/MapFunctionLibrary
	url = https://sulfur-ck@github.com/chainkemists/MapFunctionLibrary.git
